<h1>Your Order:</h1>
<h3>Order Number: <%= @order.id %></h3>
<h3>Customer: <%= @order.user.email %></h3>
<h3>Quantity: <%= @order.quantity %></h3>
<h3>Product: <%= @product.model %></h3>
<br>
<h4>Price: <%= number_to_currency(@order.subtotal) %></h4>
<h4>Tax: <%= number_to_currency(@order.tax) %></h4>
<h4>Total: <%= number_to_currency(@order.total) %></h4>

<%= image_tag @product.image_preview_url %>
