<h1>Your Order:</h1>

<h3>Order Number: <%= @order.id %></h3>
<h3>Customer: <%= @order.user.email %></h3>

<% @ordered_products.each do |item| %>

  <h3>Quantity: <%= item.quantity %></h3>
  <h3>Product: <%= item.model %></h3>
  <h4>Price: <%= number_to_currency(item.price) %></h4>
  <br>
<% end %>

<h4>Tax: <%= number_to_currency(@order.tax) %></h4>
<h4>Total: <%= number_to_currency(@order.total) %></h4>
