<h1><%= @car.make %></h1>
<h3><%= @car.model %></h3>
<h4>Price: <%= number_to_currency(@car.price) %></h4>
<h4>Tax: <%= number_to_currency(@car.tax) %></h4>
<h4>Total: <%= number_to_currency(@car.total_cost) %></h4>
<h4><%= @car.sale_message %></h4>
<img src=<%= @car.image %>>
<h4><%= @car.description %></h4>
<h4>Supplier: <%= @car.supplier_id %></h4>
<h5>Last Updated On: <%= @car.updated_at.strftime("%A, %b %d") %></h5>


<h5><a href="/cars/<%= @car.id %>/edit">Edit</a></h5>

<h5><%= link_to "Delete", "/cars/#{@car.id}", method: :delete %></h5>
