<!DOCTYPE html>
<html>
<head>
  <title>StoreApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
  <h5><%= link_to "Home", "/cars" %></h5>
  <h5><%= link_to "New", "/cars/new" %></h5>
</div>

</body>
</html>
